{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load bootstrap_pagination %}
   <!-- Wrapper -->
   <div class="wrapper">
      <div class="main-wrapper">
           
		<div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Card -->
                        <div class="card justify-content-center py-5 px-4">
                            <div class="row justify-content-center my-5 pt-4">
                                <div class="col-xl-12 text-center">
                                    <h1 class="mb-30">Not Available!</h1>
                                    <img src="https://themelooks.net/demo/dashmin/html/dark/assets/img/media/error.png"
                                         alt="">
                                    <div class="pt-5 mt-2">
                                        <a href="{% url 'home' %}" class="details-btn">
                                            Back To Home
                                            <img src="{% static 'assets/img/svg/left-arrow-c2.svg' %}" alt=""
                                                 class="svg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                </div>
            </div>
        </div>
      </div>
   </div>
		 
{% endblock %}