{% extends 'index.html' %}
{% load static %}
{% block content %}
   <!-- Wrapper -->
   <div class="wrapper">
      <div class="main-wrapper">


            <!-- Main Content -->
            <div class="main-content">
                <div class="container-fluid">

                    <div class="card">
                        <div class="pt-40 px-3 px-sm-4 px-md-5 pb-3">


                            <div class="row justify-content-center pt-2">
                                <div class="col-xl-11">
                                    <div class="row justify-content-center">


                                        <div class="col-xl-4 col-md-6">
                                            <!-- Price Box -->
                                            <div class="price-box mb-30">
                                                <!-- Price Header -->
                                                <div class="price-header d-flex flex-wrap enterprise">
                                                    <div class="p_header-img">
                                                        <img src="../../assets/img/svg/p_img3.svg" alt="">
                                                    </div>
                                                    <div class="p_header-content">
                                                        <h4>Enterprise</h4>
                                                        <h1>$459</h1>
                                                        <p>For 5 Years</p>
                                                    </div>
                                                </div>
                                                <!-- End Price Header -->

                                                <!-- End Price Body -->
                                                <div class="price-body">
                                                    <h5 class="mb-3">Account Detail</h5>
                                                    <ul class="list-unstyled mb-4">
                                                        <li><i class="icofont-check"></i> {{ account.account_name}}</li>
                                                        <li><i class="icofont-check"></i> {{ account.account_number}}</li>
                                                        <li><i class="icofont-check"></i> {{ account.bank_name}}</li>
                                                    </ul>

                                                    <a href="{% url 'edit_account' pk=account.pk %}" class="btn mt-10">Change Account details</a>
                                                </div>
                                                <!-- End Price Body -->
                                            </div>
                                            <!-- End Price Box -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Main Content -->
      </div>
   </div>

{% endblock %}