{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <h3 class="page-header "><i class="fa fa-users"></i>Add Product</h3>
        <!-- page start-->


        <div class="row">
            <div class="col-lg-12">
                <form class="form-horizontal " method="post" enctype="multipart/form-data" action="{% url 'add_product' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label text-success">Name</label>
                        <div class="col-sm-10">
                            <select name="name" class="form-control">
                                <option selected>Choose...</option>
                                <option value="Air Conditioner">Air Conditioner</option>
                                <option value="Android">Android</option>
                                <option value="Audio">Audio</option>
                                <option value="Blender">Blender</option>
                                <option value="Bed/Mattress">Bed/Mattress</option>
                                <option value="Clothing">Clothing</option>
                                <option value="Cooker">Cooker</option>
                                <option value="Desktop">Desktop</option>
                                <option value="Dispenser">Dispenser</option>
                                <option value="Fabrics">Fabrics</option>
                                <option value="Fans">Fans</option>
                                <option value="Footwear">Footwear</option>
                                <option value="Fragrance">Fragrance</option>
                                <option value="Freezer">Freezer</option>
                                <option value="Fruit">Fruit</option>
                                <option value="Furniture">Furniture</option>
                                <option value="IOS">IOS</option>
                                <option value="Kettle">Kettle</option>
                                <option value="Laptop">Laptop</option>
                                <option value="Microwave">Microwave</option>
                                <option value="Networking">Networking</option>
                                <option value="Refrigerator">Refrigerator</option>
                                <option value="Server">Server</option>
                                <option value="Television">Television</option>
                                <option value="Washers">Washers</option>
                                <option value="Watch">Watch</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label text-success">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title" placeholder="Title">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label text-success">Brand</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="brand">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label text-success">Category</label>
                        <div class="col-sm-10">
                            <select name="category" class="form-control">
                                <option selected>Choose...</option>
                                {% for category in categories %}
                                <option value="{{ category.pk }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label text-success">Color</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="color">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label text-success">Price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="price">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label text-success">Quantity</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="quantity">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label text-success">Unit</label>
                        <div class="col-sm-10">
                            <select name="unit" class="form-control">
                                <option selected>Choose...</option>
                                <option>Gram</option>
                                <option>Kilogram</option>
                                <option>Tonnes</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label text-success">Weight</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="weight">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label text-success">Image1</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" name="image_one">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label text-success">Image2</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" name="image_two">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label text-success">Image3</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" name="image_three">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label text-success">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="description" rows="10"></textarea>
                        </div>
                    </div>

                    <div class="text-right">

                        <button class="btn btn-success" type="submit">Submit</button>
                        <a class="btn btn-success" href="{% url 'my_product' %}">Back to My Product</a>

                    </div>

                </form>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->

{% endblock %}