{% extends 'merchant_base.html' %}
{% load static %}
{% block content %}


<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-users"></i>Add Product</h3>

            </div>
        </div>
        <!-- page start-->


        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">

                    </header>

                    <h2 class="text-center">Add Product</h2>
                </section>
                <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-right">
                        <button type="submit" class='btn btn-primary btn-md mx-2'>
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->

{% endblock %}