<!DOCTYPE html>
{% load static %}
{% load bootstrap_pagination %}
<html lang="zxx">

<head>
   <!-- Page Title -->
   <title>NoMugu..Buy,Sell and Track</title>

   <!-- Meta Data -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
   <meta http-equiv="refresh" content="10">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="keywords" content="">

   <!-- Favicon -->
   <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">

   <!-- Web Fonts -->
   <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

   <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->
   <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/fonts/icofont/icofont.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/plugins/perfect-scrollbar/perfect-scrollbar.min.css' %}">
   <!-- ======= END BEGIN GLOBAL MANDATORY STYLES ======= -->

   <!-- ======= MAIN STYLES ======= -->
   <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
   <!-- ======= END MAIN STYLES ======= -->

</head>

<body>

   <!-- Offcanval Overlay -->
   <div class="offcanvas-overlay"></div>
   <!-- Offcanval Overlay -->

   <!-- Wrapper -->
   <div class="wrapper">
      <!-- Header -->
      <header class="header fixed-top d-flex align-content-center flex-wrap">
         <!-- Logo -->
         <div class="logo">
            <a href="index.html" class="default-logo"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>
            <a href="index.html" class="mobile-logo"><img src="{% static 'assets/img/mobile-logo.png' %}" alt=""></a>
         </div>
         <!-- End Logo -->

         <!-- Main Header -->
          <div class="main-header">
            <div class="container-fluid">
               <div class="row justify-content-between">

                  <div class="col-3 col-lg-1 col-xl-4">
                     <!-- Header Left -->
                     <div class="main-header-left h-100 d-flex align-items-center">
                        <!-- Main Header User -->
                        <div class="main-header-user">
                           <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                              <div class="menu-icon">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                              </div>

                              <div class="user-profile d-xl-flex align-items-center d-none">
                                 <!-- User Avatar -->
                                 <div class="user-avatar">
                                    <img src="{% static 'assets/img/avatar/user.png' %}" alt="">
                                 </div>
                                 <!-- End User Avatar -->

                                 <!-- User Info -->

                                 <!-- End User Info -->
                              </div>
                           </a>
						   {% if user.is_authenticated %}
                           <div class="dropdown-menu">
                              <a href="{% url 'profile' %}">My Profile</a>
                              <a href="#">task</a>
                              <a href="#">Settings</a>
                              <a href="{% url 'logout_user' %}">Log Out</a>
                           </div>
						   {% else %}
							<div class="dropdown-menu">
                              <a href="{% url 'login' %}">Login</a>
                              <a href="#">Sign Up</a>
                           </div>
						   {%endif%}
                        </div>
                        <!-- End Main Header User -->

                        <!-- Main Header Menu -->
                        <div class="main-header-menu d-block d-lg-none">
                           <div class="header-toogle-menu">
                              <!-- <i class="icofont-navigation-menu"></i> -->
                              <img src="{% static 'assets/img/menu.png' %}" alt="">
                           </div>
                        </div>
                        <!-- End Main Header Menu -->
                     </div>
                     <!-- End Header Left -->
                  </div>
                  <div class="col-9 col-lg-11 col-xl-8">
                     <!-- Header Right -->
                     <div class="main-header-right d-flex justify-content-end">
                        <ul class="nav">
                           <li class="ml-0">

                           </li>
                           <li class="ml-0 d-none d-lg-flex">

                           </li>
                           <li class="d-none d-lg-flex">
                              <!-- Main Header Time -->
                              <div class="main-header-date-time text-right">
                                 <h3 class="time">
                                    <span id="hours">21</span>
                                    <span id="point">:</span>
                                    <span id="min">06</span>
                                 </h3>
                                 <span class="date"><span id="date">Tue, 12 October 2019</span></span>
                              </div>
                              <!-- End Main Header Time -->
                           </li>
                           <li class="d-none d-lg-flex">
                              <!-- Main Header Button -->
                              <div class="main-header-btn ml-md-1">
                                 <a href="#" class="btn">NoMugu</a>
                              </div>
                              <!-- End Main Header Button -->
                           </li>
                           <li class="order-2 order-sm-0">
                              <!-- Main Header Search -->
                              <div class="main-header-search">
                                 <form action="{% url 'search' %}" class="search-form">
                                    <div class="theme-input-group header-search">
                                       <input type="text" class="theme-input-style" placeholder="Search Here" name="search">

                                       <button type="submit"><img src="{% static 'assets/img/svg/search-icon.svg' %}" alt=""
                                             class="svg"></button>
                                    </div>
                                 </form>
                              </div>
                              <!-- End Main Header Search -->
                           </li>
						   {% if user.is_authenticated %}
                           <li>
                              <!-- Main Header Messages -->

                              <div class="main-header-message">
                                 <a href="#" class="header-icon" data-toggle="dropdown">
                                    <img src="{% static 'assets/img/svg/message-icon.svg' %}" alt="" class="svg">
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <!-- Dropdown Header -->
                                    <div class="dropdown-header d-flex align-items-center justify-content-between">
                                       <h5>3 Unread messages</h5>
                                       <a href="#" class="text-mute d-inline-block">Clear all</a>
                                    </div>
                                    <!-- End Dropdown Header -->

                                    <!-- Dropdown Body -->
                                    <div class="dropdown-body">
                                       <!-- Item Single -->
                                       <a href="#" class="item-single d-flex media align-items-center">
                                          <div class="figure">
                                             <img src="{% static 'assets/img/avatar/m1.png' %}" alt="">
                                             <span class="avatar-status bg-teal"></span>
                                          </div>
                                          <div class="content media-body">
                                             <div class="d-flex align-items-center mb-2">
                                                <h6 class="name">Sender Name</h6>
                                                <p class="time">2 min ago</p>
                                             </div>
                                             <p class="main-text">Donec dapibus mauris id odio ornare tempus. Duis sit amet accumsan justo.</p>
                                          </div>
                                       </a>
                                       <!-- End Item Single -->

                                       <!-- Item Single -->
                                       <a href="#" class="item-single d-flex media align-items-center">
                                          <div class="figure">
                                             <img src="{% static 'assets/img/avatar/m2.png' %}" alt="">
                                             <span class="avatar-status bg-teal"></span>
                                          </div>
                                          <div class="content media-body">
                                             <div class="d-flex align-items-center mb-2">
                                                <h6 class="name">Tonya Lee</h6>
                                                <p class="time">2 min ago</p>
                                             </div>
                                             <p class="main-text">Donec dapibus mauris id odio ornare tempus. Duis sit amet accumsan justo.</p>
                                          </div>
                                       </a>
                                       <!-- End Item Single -->

                                       <!-- Item Single -->
                                       <a href="#" class="item-single d-flex media align-items-center">
                                          <div class="figure">
                                             <img src="{% static 'assets/img/avatar/m3.png' %}" alt="">
                                             <span class="avatar-status bg-teal"></span>
                                          </div>
                                          <div class="content media-body">
                                             <div class="d-flex align-items-center mb-2">
                                                <h6 class="name">Cathy Nichols</h6>
                                                <p class="time">2 min ago</p>
                                             </div>
                                             <p class="main-text">Donec dapibus mauris id odio ornare tempus. Duis sit amet accumsan justo.</p>
                                          </div>
                                       </a>
                                       <!-- End Item Single -->

                                       <!-- Item Single -->
                                       <a href="#" class="item-single d-flex media align-items-center">
                                          <div class="figure">
                                             <img src="{% static 'assets/img/avatar/m4.png' %}" alt="">
                                             <span class="avatar-status bg-teal"></span>
                                          </div>
                                          <div class="content media-body">
                                             <div class="d-flex align-items-center mb-2">
                                                <h6 class="name">Hubert Griffith</h6>
                                                <p class="time">2 min ago</p>
                                             </div>
                                             <p class="main-text">Donec dapibus mauris id odio ornare tempus. Duis sit amet accumsan justo.</p>
                                          </div>
                                       </a>
                                       <!-- End Item Single -->
                                    </div>
                                    <!-- End Dropdown Body -->
                                 </div>
                              </div>
                              <!-- End Main Header Messages -->
                           </li>
                           <li>
                              <!-- Main Header Notification -->
                              <div class="main-header-notification">
                                 <a href="#" class="header-icon notification-icon" data-toggle="dropdown">
                                    <span class="count" data-bg-img="{% static 'assets/img/count-bg.png' %}">22</span>
                                    <img src="{% static 'assets/img/svg/notification-icon.svg' %}" alt="" class="svg">
                                 </a>
                                 <div class="dropdown-menu style--two dropdown-menu-right">
                                    <!-- Dropdown Header -->
                                    <div class="dropdown-header d-flex align-items-center justify-content-between">
                                       <h5>5 New notifications</h5>
                                       <a href="#" class="text-mute d-inline-block">Clear all</a>
                                    </div>
                                    <!-- End Dropdown Header -->

                                    <!-- Dropdown Body -->
                                    <div class="dropdown-body">
                                       <!-- Item Single -->
                                       <a href="#" class="item-single d-flex align-items-center">
                                          <div class="content">
                                             <div class="mb-2">
                                                <p class="time">2 min ago</p>
                                             </div>
                                             <p class="main-text">Donec dapibus mauris id odio ornare tempus amet.</p>
                                          </div>
                                       </a>
                                       <!-- End Item Single -->

                                       <!-- Item Single -->
                                       <a href="#" class="item-single d-flex align-items-center">
                                          <div class="content">
                                             <div class="mb-2">
                                                <p class="time">2 min ago</p>
                                             </div>
                                             <p class="main-text">Donec dapibus mauris id odio ornare tempus. Duis sit amet accumsan justo.</p>
                                          </div>
                                       </a>
                                       <!-- End Item Single -->

                                       <!-- Item Single -->
                                       <a href="#" class="item-single d-flex align-items-center">
                                          <div class="content">
                                             <div class="mb-2">
                                                <p class="time">2 min ago</p>
                                             </div>
                                             <p class="main-text">Donec dapibus mauris id odio ornare tempus. Duis sit amet accumsan justo.</p>
                                          </div>
                                       </a>
                                       <!-- End Item Single -->

                                       <!-- Item Single -->
                                       <a href="#" class="item-single d-flex align-items-center">
                                          <div class="content">
                                             <div class="mb-2">
                                                <p class="time">2 min ago</p>
                                             </div>
                                             <p class="main-text">Donec dapibus mauris id odio ornare tempus. Duis sit amet accumsan justo.</p>
                                          </div>
                                       </a>
                                       <!-- End Item Single -->
                                    </div>
                                    <!-- End Dropdown Body -->
                                 </div>
                              </div>
                              <!-- End Main Header Notification -->
                           </li>
						   {% endif %}
                        </ul>
                     </div>
                     <!-- End Header Right -->
                  </div>
               </div>
            </div>
         </div>
         <!-- End Main Header -->
      </header>
      <!-- End Header -->

      <!-- Main Wrapper -->
      <div class="main-wrapper">
         <!-- Sidebar -->
         <nav class="sidebar" data-trigger="scrollbar">
            <!-- Sidebar Header -->
            <div class="sidebar-header d-none d-lg-block">
               <!-- Sidebar Toggle Pin Button -->
               <div class="sidebar-toogle-pin">
                  <i class="icofont-tack-pin"></i>
               </div>
               <!-- End Sidebar Toggle Pin Button -->
            </div>
            <!-- End Sidebar Header -->

            <!-- Sidebar Body -->
            <div class="sidebar-body">
               <!-- Nav -->
			   {% if user.is_shopper and user.is_authenticated %}
               <ul class="nav">
                  <li class="nav-category">Main</li>
                  <li class="active">
                     <a href="#">
                        <i class="icofont-pie-chart"></i>
                        <span class="link-title">Categories</span>
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <i class="icofont-shopping-cart"></i>
                        <span class="link-title">Beauty</span>
                     </a>

                     <!-- Sub Menu -->
                     <ul class="nav sub-menu">
                        <li><a href="{% url 'desktop' %}">Body Cream</a></li>
                        <li><a href="{% url 'desktop' %}">Lingerie</a></li>
                        <li><a href="{% url 'desktop' %}">Spa</a></li>
                        <li><a href="{% url 'desktop' %}">Wigs</a></li>
                     </ul>
                     <!-- End Sub Menu -->
                  </li>

                  <li>
                     <a href="#">
                        <i class="icofont-mail-box"></i>
                        <span class="link-title">Computer/Servers</span>
                     </a>
                     <!-- Sub Menu -->
                     <ul class="nav sub-menu">
                        <li><a href="{% url 'desktop' %}">Desktop</a></li>
                        <li><a href="{% url 'laptop' %}">Laptops</a></li>
                        <li><a href="{% url 'networking' %}">Networking</a></li>
                        <li><a href="{% url 'server' %}">Server</a></li>
                     </ul>
                     <!-- End Sub Menu -->
                  </li>

                  <li>
                     <a href="#">
                        <i class="icofont-listing-box"></i>
                        <span class="link-title">Electronics</span>
                     </a>

                     <!-- Sub Menu -->
                     <ul class="nav sub-menu">
                        <li><a href="{% url 'audio' %}">Audio Systems</a></li>
                        <li><a href="{% url 'audio' %}">Home Theatre</a></li>
                        <li><a href="{% url 'television' %}">Television</a></li>
                     </ul>
                     <!-- End Sub Menu -->
                  </li>
                  <li>
                     <a href="#">
                        <i class="icofont-file-document"></i>
                        <span class="link-title">Fashion</span>
                     </a>

                     <!-- Sub Menu -->
                     <ul class="nav sub-menu">
                        <li><a href="{% url 'clothing' %}">Clothing</a></li>
                        <li><a href="{% url 'fabrics' %}">Fabrics</a></li>
                        <li><a href="{% url 'footwear' %}">Footwear</a></li>
                        <li><a href="{% url 'fragrance' %}">Fragrance</a></li>
                        <li><a href="{% url 'watches' %}">Watches</a></li>
                     </ul>
                     <!-- End Sub Menu -->
                  </li>
                  <li>
                     <a href="#">
                        <i class="icofont-contact-add"></i>
                        <span class="link-title">Home Appliances</span>
                     </a>

                     <!-- Sub Menu -->
                     <ul class="nav sub-menu">
						<li><a href="{% url 'ac' %}">Air Conditioner</a></li>
                        <li><a href="{% url 'bed' %}">Bed Furnishings</a></li>
                        <li><a href="{% url 'fan' %}">Fans</a></li>
                        <li><a href="{% url 'furniture' %}">Furniture</a></li>
                        <li><a href="{% url 'bed' %}">Mattresses</a></li>
						<li><a href="{% url 'washer' %}">Washing Machine</a></li>
                     </ul>
                     <!-- End Sub Menu -->
                  </li>
                  <li>
                     <a href="#">
                        <i class="icofont-calendar"></i>
                        <span class="link-title">Kitchen Appliances</span>
                     </a>

                     <!-- Sub Menu -->
                     <ul class="nav sub-menu">
                        <li><a href="{% url 'refrigerator' %}">Blender</a></li>
                        <li><a href="{% url 'cooker' %}">Cookers</a></li>
                        <li><a href="{% url 'freezer' %}">Freezer</a></li>
                        <li><a href="{% url 'kettle' %}">Kettle</a></li>
                        <li><a href="{% url 'microwave' %}">Microwave</a></li>
                        <li><a href="{% url 'refrigerator' %}">Refrigerator</a></li>
                        <li><a href="{% url 'dispenser' %}">Water Dispenser</a></li>                     </ul>
                     <!-- End Sub Menu -->
                  </li>
                  <li>
                     <a href="#">
                        <i class="icofont-files-stack"></i>
                        <span class="link-title">Phones/Tablets</span>
                     </a>

                     <!-- Sub Menu -->
                     <ul class="nav sub-menu">
                        <li><a href="{% url 'android' %}">Android</a></li>
                        <li><a href="{% url 'ios' %}">IOS</a></li>
                     </ul>
                     <!-- End Sub Menu -->
                  </li>

                  <li>
                     <a href="#">
                        <i class="icofont-brand-icofont"></i>
                        <span class="link-title">My Order</span>
                     </a>

                     <!-- Sub Menu -->
                     <ul class="nav sub-menu">
                        <li><a href="#">My Orders</a></li>
                        <li><a href="#">My Favourites</a></li>
                        <li><a href="#">Outstanding bills</a></li>
                     </ul>
                     <!-- End Sub Menu -->
                  </li>



               </ul>
			   {% elif user.is_authenticated and user.is_shipper %}

			   <ul class="nav">
                  <li class="nav-category">Shipper</li>
                  <li class="active">
                     <a href="{% url 'dashboard' %}">
                        <i class="icofont-pie-chart"></i>
                        <span class="link-title">Dashboard</span>
                     </a>
                  </li>

                  <li>
                     <a href="#">
                        <i class="icofont-shopping-cart"></i>
                        <span class="link-title">Pick-Ups</span>
                     </a>

                     <!-- Sub Menu -->
                     <ul class="nav sub-menu">
                        <li><a href="{% url 'available_pickup' %}">Available Pick-Ups</a></li>
                        <li><a href="{% url 'picked_up_order' %}">En-route Pick-Ups</a></li>
                        <li><a href="{% url 'delivered_orders' %}">Delivered Orders</a></li>
                     </ul>
                     <!-- End Sub Menu -->
                  </li>

                  <li class="active">
                     <a href="{% url 'my_orders' %}">
                        <i class="icofont-shopping-cart"></i>
                        <span class="link-title">Account</span>
                     </a>
                  </li>

                  <li>
                     <a href="#">
                        <i class="icofont-listing-box"></i>
                        <span class="link-title">Trips</span>
                     </a>
                  </li>



               </ul>

			   {% elif user.is_authenticated and user.is_merchant %}

			   <ul class="nav">
                  <li class="nav-category">Merchant</li>
                  <li class="active">
                     <a href="{% url 'dashboard' %}">
                        <i class="icofont-pie-chart"></i>
                        <span class="link-title">Dashboard</span>
                     </a>
                  </li>

                  <li>
                     <a href="#">
                        <i class="icofont-shopping-cart"></i>
                        <span class="link-title">Product</span>
                     </a>

                     <!-- Sub Menu -->
                     <ul class="nav sub-menu">
                        <li><a href="{% url 'my_product' %}">My Products</a></li>
                     </ul>
                     <!-- End Sub Menu -->
                  </li>

                  <li class="active">
                     <a href="{% url 'my_orders' %}">
                        <i class="icofont-shopping-cart"></i>
                        <span class="link-title">Orders</span>
                     </a>
                  </li>

                  <li>
                     <a href="#">
                        <i class="icofont-listing-box"></i>
                        <span class="link-title">Invoices</span>
                     </a>
                  </li>



               </ul>

			   {% else %}

			   <ul class="nav">
                  <li class="nav-category">Main</li>
                  <li class="active">
                     <a href="#">
                        <i class="icofont-pie-chart"></i>
                        <span class="link-title">Categories</span>
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <i class="icofont-shopping-cart"></i>
                        <span class="link-title">Beauty</span>
                     </a>

                     <!-- Sub Menu -->
                     <ul class="nav sub-menu">
                        <li><a href="{% url 'desktop' %}">Body Cream</a></li>
                        <li><a href="{% url 'desktop' %}">Lingerie</a></li>
                        <li><a href="{% url 'desktop' %}">Spa</a></li>
                        <li><a href="{% url 'desktop' %}">Wigs</a></li>
                     </ul>
                     <!-- End Sub Menu -->
                  </li>

                  <li>
                     <a href="#">
                        <i class="icofont-mail-box"></i>
                        <span class="link-title">Computer/Servers</span>
                     </a>
                     <!-- Sub Menu -->
                     <ul class="nav sub-menu">
                        <li><a href="{% url 'desktop' %}">Desktop</a></li>
                        <li><a href="{% url 'laptop' %}">Laptops</a></li>
                        <li><a href="{% url 'networking' %}">Networking</a></li>
                        <li><a href="{% url 'server' %}">Server</a></li>
                     </ul>
                     <!-- End Sub Menu -->
                  </li>

                  <li>
                     <a href="#">
                        <i class="icofont-listing-box"></i>
                        <span class="link-title">Electronics</span>
                     </a>

                     <!-- Sub Menu -->
                     <ul class="nav sub-menu">
                        <li><a href="{% url 'audio' %}">Audio Systems</a></li>
                        <li><a href="{% url 'audio' %}">Home Theatre</a></li>
                        <li><a href="{% url 'television' %}">Television</a></li>
                     </ul>
                     <!-- End Sub Menu -->
                  </li>
                  <li>
                     <a href="#">
                        <i class="icofont-file-document"></i>
                        <span class="link-title">Fashion</span>
                     </a>

                     <!-- Sub Menu -->
                     <ul class="nav sub-menu">
                        <li><a href="{% url 'clothing' %}">Clothing</a></li>
                        <li><a href="{% url 'fabrics' %}">Fabrics</a></li>
                        <li><a href="{% url 'footwear' %}">Footwear</a></li>
                        <li><a href="{% url 'fragrance' %}">Fragrance</a></li>
                        <li><a href="{% url 'watches' %}">Watches</a></li>
                     </ul>
                     <!-- End Sub Menu -->
                  </li>
                  <li>
                     <a href="#">
                        <i class="icofont-contact-add"></i>
                        <span class="link-title">Home Appliances</span>
                     </a>

                     <!-- Sub Menu -->
                     <ul class="nav sub-menu">
						<li><a href="{% url 'ac' %}">Air Conditioner</a></li>
                        <li><a href="{% url 'bed' %}">Bed Furnishings</a></li>
                        <li><a href="{% url 'fan' %}">Fans</a></li>
                        <li><a href="{% url 'furniture' %}">Furniture</a></li>
                        <li><a href="{% url 'bed' %}">Mattresses</a></li>
						li><a href="{% url 'washer' %}">Washing Machine</a></li>
                     </ul>
                     <!-- End Sub Menu -->
                  </li>
                  <li>
                     <a href="#">
                        <i class="icofont-calendar"></i>
                        <span class="link-title">Kitchen Appliances</span>
                     </a>

                     <!-- Sub Menu -->
                     <ul class="nav sub-menu">
                        <li><a href="{% url 'refrigerator' %}">Blender</a></li>
                        <li><a href="{% url 'cooker' %}">Cookers</a></li>
                        <li><a href="{% url 'freezer' %}">Freezer</a></li>
                        <li><a href="{% url 'kettle' %}">Kettle</a></li>
                        <li><a href="{% url 'microwave' %}">Microwave</a></li>
                        <li><a href="{% url 'refrigerator' %}">Refrigerator</a></li>
                        <li><a href="{% url 'dispenser' %}">Water Dispenser</a></li>
					</ul>
                     <!-- End Sub Menu -->
                  </li>
                  <li>
                     <a href="#">
                        <i class="icofont-files-stack"></i>
                        <span class="link-title">Phones/Tablets</span>
                     </a>

                     <!-- Sub Menu -->
                     <ul class="nav sub-menu">
                        <li><a href="{% url 'android' %}">Android</a></li>
                        <li><a href="{% url 'ios' %}">IOS</a></li>
                     </ul>
                     <!-- End Sub Menu -->
                  </li>


               </ul>

			   {% endif %}
               <!-- End Nav -->
            </div>
            <!-- End Sidebar Body -->
         </nav>
         <!-- End Sidebar -->

         <!-- Main Content -->
         <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Card -->
                        <div class="card bg-transparent">
                            <div class="card-body card_color-bg">
                                <h4 class="pl-2 pt-2 pb-2">Available pick-ups</h4>
                            </div>

                            <div class="table-responsive">
                                <table class="order-list-table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Date <img src="{% static 'assets/img/svg/table-down-arrow.svg' %}" alt="" class="svg"></th>
                                            <th>Name <img src="{% static 'assets/img/svg/table-down-arrow.svg' %}" alt="" class="svg"></th>
                                            <th>Weight <img src="{% static 'assets/img/svg/table-down-arrow.svg' %}" alt="" class="svg"></th>
                                            <th>Quantity</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="card_color-bg">
									{% for product in pick_ups %}
                                        <tr>
                                            <td>{{ product.order_date }}</td>
                                            <td>{{ product.product.name }}</td>
                                            <td>{{ product.get_weight }}</td>
                                            <td>{{ product.quantity }}</td>
                                            <td><button type="button" class="status-btn un_paid">{{ product.get_pickup_status }}</button></td>
                                            <td><a href="{% url 'view_order' pk=product.pk %}" class="details-btn">Details <i class="icofont-arrow-right"></i></a></td>
                                        </tr>
									{% endfor %}

                                    </tbody>
                                </table>
                                <br>
                                <div class="text text-center">
                                    <!-- Pagination -->
                                    <div class="pagination d-flex flex-column align-items-center mb-10">
                                       {% bootstrap_paginate pick_ups range=10 show_prev_next="false" show_first_last="true" %}
                                    </div>
                                    <!-- End Pagination -->
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                </div>
            </div>
         </div>
         <!-- End Main Content -->
      </div>
      <!-- End Main Wrapper -->


   </div>
   <!-- End wrapper -->

   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
   <script src="{% static 'assets/js/jquery.min.js' %}"></script>
   <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
   <script src="{% static 'assets/js/script.js' %}"></script>
   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
</body>

</html>