{% extends 'base.html' %}
{% block content %}

<div class="container my-2">

    <!-- Outer Row -->


        <div class="text-center">


                <form method="POST" action="{% url 'change_password' %}">
                    {% csrf_token %}
                    {% if form.errors %}
                    <p>Your form has errors.Please check fields</p>
                    {% endif %}

                    {{ form.as_p}}

                    <button type="submit" class='btn btn-outline-info btn-md'>
                        Save
                    </button>
                </form>


        </div>



</div>

{% endblock %}