{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load bootstrap_pagination %}
   <!-- Wrapper -->
   <div class="wrapper">
      <div class="main-wrapper">
         <div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-10">

                <!-- Base Horizontal Form With Icons -->
                <div class="form-element py-30 multiple-column">

                    <h4 class="font-20 mb-20">Account Details</h4>


                    <!-- Form -->
                    <form method="post" action="{% url 'create_account' %}" id="account_form">
                        {% csrf_token %}
                        {% include 'errors.html' %}


                        <div class="media flex-column flex-sm-row">


                            <div class="contact-account-setting media-body">

                                <div class="mb-4">
                                    <label class="bold mb-2">Account Name</label>
                                    <input type="text" id="as_color" class="theme-input-style" name="account_name"
                                           required>
                                </div>

                                <div class="mb-4">
                                    <label class="bold mb-2">Select Bank</label>
                                    <select name="bank_name" class="theme-input-style">
                                        <option selected>Choose Bank</option>
                                        {% for bank in list_banks %}
                                        <option value="{{ bank.code }}">{{ bank.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="mb-4">
                                    <label class="bold mb-2">Account Number</label>
                                    <input type="number" id="account_number" class="theme-input-style"
                                           name='account_number' required>
                                </div>


                                <div class="">
                                    <button type='submit' class="btn mr-4">Submit</button>
                                    {% if user.is_shopper %}
                                    <a class="btn btn-success" href="#" onClick="goBack()">Back</a>
                                    {% else %}
                                    <a class="btn btn-success" href="#" onClick="goBack()">Back</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- End Form -->
                </div>
            </div>
            <!-- End Horizontal Form With Icons -->
        </div>
    </div>
</div>
</div>
      </div>
   </div>
   <!-- End wrapper -->


{% endblock %}