{% extends 'index.html' %}
{% load static %}
{% block content %}
   <!-- Wrapper -->
   <div class="wrapper">
      <div class="main-wrapper">
         <div class="main-content">
               <div class="container-fluid">
                  <!-- Card -->
                  <div class="card">
                     <!-- Product Details -->
                     <div class="product-details pb-0">
                        <div class="row">
                           <div class="col-lg-4">
                              <div class="pd-img-wrapp position-relative mb-5 mb-lg-0">

                                 <img id="img_01" src="{{detail.image_one.url }}" data-zoom-image="{{detail.image_one.url }}" alt=""/>

                                 <div id="gal1">
                                    <a href="#" data-image="{{detail.image_one.url }}" data-zoom-image="{{detail.image_one.url }}">
                                       <img id="img_02" src="{{detail.image_one.url }}" alt="" />
                                    </a>

                                    <a href="#" data-image="{{detail.image_two.url }}" data-zoom-image="{{detail.image_two.url }}">
                                       <img id="img_03" src="{{detail.image_two.url }}" alt="" />
                                    </a>

                                    <a href="#" data-image="{{detail.image_three.url }}" data-zoom-image="{{detail.image_three.url }}">
                                       <img id="img_04" src="{{detail.image_three.url }}" alt="" />
                                    </a>
                                 </div>

                              </div>
                           </div>
                           
                           <div class="col-lg-8">
                              <!-- Product Details Content -->
                              <div class="product-details-content position-relative">
                                 <!-- Product Title -->
                                 <h4 class="product_title">{{detail.title }}</h4>
                                 <!-- End Product Title -->

                                 <!-- Product Price -->
                                 <p class="price">
                                    <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">₦</span>{{ detail.price }}</span>
                                 </p>
                                 <!-- End Product Price -->

                                 <!-- Color Group -->
                                 <div class="color-group d-flex align-items-center">
                                    <span class="list-heading bold">Viewed</span>
                                    <ul class="mb-0 list-inline">
                                          <li><a href="#" >{{detail.view_product}}times</a></li>
                                    </ul>
                                 </div>
                                 <!-- End Color Group -->
                  
                                 <!-- Add to Cart Button -->
                                 <a href="{% url 'add_cart' pk=detail.pk %}" class="single_add_to_cart_button button btn btn-fill">Add To Cart</a>
                                 <!-- End Add to Cart Button -->

                                 <!-- Product Description -->
                                 <div class="woocommerce-product-details__short-description">
                                    <h5>Description</h5>
                                    <textarea  class="theme-input-style" disabled >{{detail.description}}</textarea>
                                 </div>
                                 <!-- End Product Description -->
                              </div>
                              <!-- End Product Details Content -->
                           </div>
                        </div>

                  


                        <!-- Product Grid -->
                        <div class="product-grid pt-5">
                           <div class="row">
                              <div class="col-12">
                                 <h4 class="font-20 mb-4">Related Products</h4>
                              </div>
                              {% for product in related_product %}
                              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                                 <!-- Product Grid Item -->
                                 <div class="product-grid-item mb-30">
                                        <div class="product-img mb-3">
                                             <a href="{% url 'detail' product.id %}">
                                                <img src="{{product.image_one.url}}" class="w-100" alt="{{ product.title }}">
                                             </a>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="mb-10">₦{{ product.price }}</h6>
                                             <a href="{% url 'detail' pk=product.pk %}">
                                                <p class="white">{{ product.title }}</p>
                                             </a>
                                        </div>
                                    </div>
                                 <!-- End Product Grid Item -->
                              </div>
                              {% endfor %}



                           </div>
                        </div>
                        <!-- End Product Grid -->
                     </div>
                     <!-- End Product Details -->
                  </div>
                  <!-- End Card -->
               </div>
            </div>
      </div>
   </div>
   <!-- End wrapper -->

		 
{% endblock %}