{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <h3 class="page-header "><i class="fa fa-users"></i>Edit Account Number</h3>
        <!-- page start-->


        <div class="row">
            <div class="col-lg-12">
                <form class="form-horizontal " method="post" >
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="col-sm-2 control-label text-success">Account Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="account_name" placeholder="Account Name" value="{{account.account_name}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label text-success">Bank Name</label>
                        <div class="col-sm-10">
                            <select name="bank_name" class="form-control">
                                <option selected>{{account.account_name}}</option>
                                <option>Access Bank</option>
                                <option>Citibank</option>
                                <option>Diamond Bank</option>
                                <option>Ecobank Nigeria</option>
                                <option>Fidelity Bank Nigeria</option>
                                <option>First Bank of Nigeria</option>
                                <option>First City Monument Bank</option>
                                <option>Guaranty Trust Bank</option>
                                <option>Heritage Bank Plc</option>
                                <option>Jaiz Bank</option>
                                <option>Keystone Bank Limited</option>
                                <option>Providus Bank Plc</option>
                                <option>Polaris Bank</option>
                                <option>Stanbic IBTC Bank Nigeria Limited</option>
                                <option>Standard Bank</option>
                                <option>Standard Chartered Bank</option>
                                <option>Sterling Bank</option>
                                <option>Suntrust Bank Nigeria Limited</option>
                                <option>Union Bank of Nigeria</option>
                                <option>United Bank for Africa</option>
                                <option>Unity Bank Plc</option>
                                <option>Wema Bank</option>
                                <option>Zenith Bank</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label text-success">Account Number</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="account_number" placeholder="Account Number" value="{{account.account_number}}">
                        </div>
                    </div>


                    <div class="text-right">

                        <button class="btn btn-success" type="submit">Submit</button>
                        <a class="btn btn-success" href="{% url 'my_product' %}">Back to My Product</a>

                    </div>

                </form>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->

{% endblock %}