{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load bootstrap_pagination %}
   <!-- Wrapper -->
   <div class="wrapper">
      <div class="main-wrapper">


         <!-- Main Content -->
         <div class="main-content d-flex flex-column flex-md-row">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-12">
                     <!-- Invoice Header -->
                     <div class="invoice-details-header card_color-bg d-flex align-items-sm-center flex-column flex-sm-row mb-30 justify-content-sm-between">
                        <div class="d-flex align-items-center">
                           <a href="#" class="mr-2"><img src="{% static 'assets/img/svg/angle-left.svg' %}" alt="" class="svg"></a>
                           <h2 class="regular mr-3 font-30">Invoice</h2>
                           <h4 class="c4">#256987</h4>
                        </div>


                     </div>
                     <!-- End Invoice Header -->

                     <!-- Invoice Top -->

                     <!-- End Invoice Top -->

                     <!-- Invoice Details List Wrapper -->
                     <div class="card_color-bg details-list-wrap">
                        <div class="table-responsive">
                           <!-- Invoice List Table -->
                           <table class="invoice-list-table style-two some-center text-nowrap">
                              <thead>
                                 <tr>
                                    <th>#</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Weight</th>
                                    <th>Amount</th>
                                 </tr>
                              </thead>

                              <tbody class="card_color-bg">
							  {% for ord in order.products.all %}
                                 <tr>
                                    <td class="bold">#{{ord.product.pk}}</td>
                                    <td>{{ord.product.title}}</td>
                                    <td>{{ord.quantity}}</td>
                                    <td>{{ord.get_weight}}</td>
                                    <td>{{ord.get_cost}}</td>
                                 </tr>
								 {% endfor %}
                              </tbody>
                           </table>
                           <!-- End Invoice List Table -->
                        </div>

                        <!-- Cart Collaterals -->
                        <div class="cart-collaterals">
                           <div class="cart_totals calculated_shipping">
                              <table class="shop_table style-two">
                                 <tbody>
                                    <tr class="cart-subtotal">
                                       <th>Subtotal</th>
                                       <th>
                                          <span class="Price-amount amount">
                                             <span class="Price-currencySymbol">₦</span>{{order.final_price}}</span>
                                       </th>
                                    </tr>
                                    <tr class="cart-tax">
                                       <td>Shipping Cost</td>
                                       <td>
                                          <span class="Price-amount amount">
                                             <span class="Price-currencySymbol">₦</span>{{order.shipping_cost}}</span>
                                       </td>
                                    </tr>

                                    <tr class="order-total">
                                       <td>Total</td>
                                       <td>
                                          <strong>
                                             <span class="Price-amount amount"><span class="Price-currencySymbol">₦</span>{{order.total_price}}</span>
                                          </strong>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>

                              <div class="proceed-to-checkout d-flex align-items-center justify-content-end mr-20 mt-4">
                                 <a href="{% url 'make_payment' pk=order.pk %}" class="btn">Order Now</a>
                                 <br>
                                 <a href="{% url 'make_payment' pk=order.pk %}" class="btn">Order Now</a>
                              </div>
                           </div>
                        </div>
                        <!-- End Cart Collaterals -->
                     </div>
                     <!-- End Invoice Details List Wrapper -->
                  </div>
               </div>
            </div>
         </div>
         <!-- End Main Content -->
      </div>
   </div>

{% endblock %}