{% extends 'index.html' %}
{% load static %}
{% block content %}



         <!-- Main Content -->
         <div class="main-content d-flex flex-column flex-md-row">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-12">
                    <!-- Card -->
                    <div class="card bg-transparent">
                        <div class="card-body card_color-bg mb-30">
                            <!-- Invoice Header -->
                            <div class="invoice-header d-flex align-items-sm-center media flex-column flex-sm-row">
                                <div class="invoice-header-left d-flex align-items-center position-relative">
                                    <div class="">
                                        <a href="{% url 'new_invoice' %}" class="btn-circle">
                                            <img src="{% static 'assets/img/svg/plus_white.svg' %}" alt="" class="svg">
                                        </a>
                                    </div>

                                    <!-- Send Messages -->
                                    <div class="send-message">
                                        <a href="#"><img src="{% static 'assets/img/svg/send_c3.svg' %}" alt="" class="svg"></a>
                                    </div>
                                    <!-- End Send Messages -->

                                    <!-- Starred -->
                                    <div class="star">
                                        <a href="#"><img src="{% static 'assets/img/svg/star.svg' %}" alt="" class="svg"></a>
                                    </div>
                                    <!-- End Starred -->

                                    <!-- Delete Mail -->
                                    <div class="delete_mail">
                                        <a href="#"><img src="{% static 'assets/img/svg/delete.svg' %}" alt="" class="svg"></a>
                                    </div>
                                    <!-- End Delete Mail -->

                                    <!-- Dropdown Button -->
                                    <div class="dropdown-button">
                                        <a href="#" class="d-flex align-items-center" data-toggle="dropdown">Monthly <i class="icofont-rounded-down"></i></a>
                                        <div class="dropdown-menu">
                                        <a href="#">Daily</a>
                                        <a href="#">Sort By</a>
                                        <a href="#">Monthly</a>
                                        </div>
                                    </div>
                                    <!-- End Dropdown Button -->
                                </div>

                                <div class="invoice-header-right d-flex align-items-center justify-content-end media-body mt-3 mt-sm-0">
                                    <!-- Search Form -->
                                    <form action="#" class="search-form">
                                        <div class="theme-input-group">
                                        <input type="text" class="theme-input-style" placeholder="Search Here">

                                        <button type="submit"><img src="{% static 'assets/img/svg/search-icon.svg' %}" alt=""
                                                class="svg"></button>
                                        </div>
                                    </form>
                                    <!-- End Search Form -->

                                    <!-- Pagination -->
                                    <div class="pagination style--two d-flex flex-column align-items-center ml-3">
                                        <ul class="list-inline d-inline-flex align-items-center">
                                        <li><a href="#">
                                            <img src="{% static 'assets/img/svg/left-angle.svg' %}" alt="" class="svg">
                                        </a></li>
                                        <li><a href="#" class="current">
                                            <img src="{% static 'assets/img/svg/right-angle.svg' %}" alt="" class="svg">
                                        </a></li>
                                        </ul>
                                    </div>
                                    <!-- End Pagination -->
                                </div>
                            </div>
                            <!-- End Invoice Header -->
                        </div>

                        <div class="table-responsive">
                            <!-- Invoice List Table -->
                            <table class="invoice-list-table text-nowrap card_color-bg">
                                <thead>
                                    <tr>
                                        <th>
                                            <!-- Custom Checkbox -->
                                            <label class="custom-checkbox">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <!-- End Custom Checkbox -->

                                            <!-- Star -->
                                            <div class="star">
                                                <a href="#"><img src="{% static 'assets/img/svg/star.svg' %}" alt="" class="svg"></a>
                                            </div>
                                            <!-- End Star -->
                                        </th>
                                        <th>Amount <img src="{% static 'assets/img/svg/table-down-arrow.svg' %}" alt="" class="svg"></th>
                                        <th>Date <img src="{% static 'assets/img/svg/table-down-arrow.svg' %}" alt="" class="svg"></th>
                                        <th>Customer <img src="{% static 'assets/img/svg/table-up-arrow.svg' %}" alt="" class="svg"></th>
                                        <th>Status <img src="{% static 'assets/img/svg/table-down-arrow.svg' %}" alt="" class="svg"></th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
								{% for invoice in invoices %}
                                    <tr>
                                        <td>
                                            <!-- Custom Checkbox -->
                                            <label class="custom-checkbox">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <!-- End Custom Checkbox -->

                                            <!-- Star -->
                                            <div class="star">
                                                <a href="#"><img src="{% static 'assets/img/svg/star.svg' %}" alt="" class="svg"></a>
                                            </div>
                                            <!-- End Star -->
                                        </td>
                                        <td>{{invoice.owner.final_price}}</td>
                                        <td>{{invoice.invoiced_date}}</td>
                                        <td>{{invoice.owner.user.get_full_name}}</td>
                                        <td><button type="button" class="status-btn un_paid">Unpaid</button></td>
                                        <td><a href="{% url 'invoice_detail' pk=invoice.pk %}" class="details-btn">Details <i class="icofont-arrow-right"></i></a></td>
                                    </tr>
									
								{% endfor %}                                   
                                </tbody>
                            </table>
                            <!-- End Invoice List Table -->
                        </div>
                    </div>
                    <!-- End Card -->
                  </div>
               </div>
            </div>
         </div>
	  
{% endblock %}