{% extends 'index.html' %}
{% load static %}
{% block content %}
   <!-- Wrapper -->
   <div class="wrapper">
      <div class="main-wrapper">
          <div class="main-content">
            <div class="container-fluid">
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="pt-2 mb-4">{{market.name}} Market</h4>

                        <!-- Product Grid -->
                        <div class="product-grid pt-2">
                            <div class="row">
                                {% for mark in market.categories.all %}
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                                    <!-- Product Grid Item -->
                                    <div class="product-grid-item mb-30">
                                        <div class="product-img mb-3">
                                             <a href="{% url 'view_category' category_name=mark.name market_name=market.name %}">
                                                <img src='{{mark.image.url}}' class="w-100" alt="">
                                             </a>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="mb-10">{{mark.name}}</h6>
                                             <a href="{% url 'view_category' category_name=mark.name market_name=market.name %}">
                                                <p class="white"></p>
                                             </a>
                                        </div>
                                    </div>
                                    <!-- End Product Grid Item -->
                                </div>
                                {% endfor %}


                            </div>
                            <div class="text text-center ">
                                    <a href="#" onClick="goBack()" class="details-btn">
                                            Back
                                            <img src="{% static 'assets/img/svg/left-arrow-c2.svg' %}" alt=""
                                                 class="svg">
                                        </a>
                                </div>
                        </div>
                        <!-- End Product Grid -->
                    </div>
                </div>
                <!-- End Card -->
            </div>
         </div>
      </div>
   </div>
   <!-- End wrapper -->

		 
{% endblock %}