{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load bootstrap_pagination %}
   <!-- Wrapper -->
   <div class="wrapper">
      <div class="main-wrapper">
         <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Card -->
                        <div class="card bg-transparent">
                            <div class="card-body card_color-bg">
                                <h4 class="pl-2 pt-2 pb-2">My Order</h4>
                            </div>

                            <div class="table-responsive">
                                <table class="order-list-table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>ID </th>
                                            <th>Purchase Date </th>
                                            <th>Customer </th>
                                            <th>Grand Total</th>
                                            <th>Quantity</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="card_color-bg">
									{% for order in orders %}
                                        <tr>
                                            <td>#{{ order.pk }}</td>
                                            <td>{{ order.order_date }}</td>
                                            <td>{{ order.user.get_full_name }}</td>
                                            <td>{{ order.get_cost }}</td>
                                            <td>{{ order.quantity }}</td>
                                           <td>
                                           <button type="button" class="status-btn un_paid" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Picked by {{order.get_shipper}}">{{ order.get_pickup_status }}</button>
                                           </td>

                                            <td>
                                               {% if order.has_images %}
                                               <a href="{% url 'view_picture' pk=order.pk %}" class="btn btn-success">View Picture</a>
                                               {% else %}
                                                <button class="btn btn-success">Await Pic Confirmation</button>
                                               {% endif %}
                                        </tr>
									{% endfor %}

                                    </tbody>
                                </table>
                               <br>
                                <div class="text text-center">
                                    <!-- Pagination -->
                                    <div class="pagination d-flex flex-column align-items-center mb-10">
                                       {% bootstrap_paginate orders range=10 show_prev_next="false" show_first_last="true" %}
                                    </div>
                                    <!-- End Pagination -->
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                </div>
            </div>
         </div>
      </div>
   </div>
   <!-- End wrapper -->

		 
{% endblock %}