{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load bootstrap_pagination %}
<!-- Wrapper -->
<div class="wrapper">
    <div class="main-wrapper">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Card -->
                        <div class="card bg-transparent">
                            <!-- Contact Header -->
                            <div class="contact-header d-flex align-items-sm-center media flex-column flex-sm-row card_color-bg mb-30">
                                <div class="contact-header-left media-body d-flex align-items-center mr-4">
                                    <!-- Add New Contact Btn -->
                                    <div class="add-new-contact mr-20">
                                        <a href="{% url 'add_product' %}" class="btn-circle" >
                                            <img src="{% static 'assets/img/svg/plus_white.svg' %}" alt="" class="svg">
                                        </a>
                                    </div>
                                    <!-- End Add New Contact Btn -->


                                </div>

                                <div class="contact-header-right d-flex align-items-center justify-content-end mt-3 mt-sm-0">
                                    <!-- Grid -->
                                    <div class="grid">
                                        <a href="{% url 'my_product_list' %}"><img
                                                src="{% static 'assets/img/svg/grid-icon.svg' %}"
                                                alt="" class="svg"></a>
                                    </div>
                                    <!-- End Grid -->


                                </div>
                            </div>
                            <!-- End Contact Header -->
                                <div class="row">
                                    {% for product in products %}
                            <div class="col-xl-2 col-md-4 col-sm-6">
                                <!-- Contact -->


                                <div class="contact-box mb-30">
                                    <div class="contact-head">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar img-50 mr-2">
                                                <img src="{{ product.image_one.url }}" alt="">
                                            </div>
                                            <div class="content pl-1">
                                                <h4 class="c2 mb-1">{{product.name}}</h4>
                                                <p>{{product.brand}}</p>
                                            </div>
                                        </div>

                                        <div class="dropdown-button">
                                            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                                <div class="menu-icon style--two mr-0">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="{% url 'edit_product' pk=product.pk %}">Edit</a>
                                                <a href="{% url 'delete_product' pk=product.pk %}"
                                                   class="contact-close">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-body">
                                        <p>Quantity: {{product.quantity}}</p>
                                        <p>Price: ₦{{product.price}}</p>
                                        <p>{{product.title}}</p>
                                    </div>
                                </div>
                                <!-- End Contact -->

                                </div>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->


                </div>
            </div>
        </div>
    </div>
</div>
<!-- End wrapper -->
</div>

{% endblock %}