{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load bootstrap_pagination %}

<!-- Main Content -->
<div class="main-content d-flex flex-column flex-md-row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Card -->
                <div class="card bg-transparent">
                    <!-- Contact Header -->
                    <div class="contact-header d-flex align-items-sm-center media flex-column flex-sm-row card_color-bg mb-30">
                        <div class="contact-header-left media-body d-flex align-items-center mr-4">
                            <!-- Add New Contact Btn -->
                            <div class="add-new-contact mr-20">
                                <a href="{% url 'add_product' %}" class="btn-circle" >
                                    <img src="{% static 'assets/img/svg/plus_white.svg' %}" alt="" class="svg">
                                </a>
                            </div>
                            <!-- End Add New Contact Btn -->

                            <!-- Search Form -->
                            <form action="#" class="search-form flex-grow">
                                <div class="theme-input-group style--two">
                                    <input type="text" class="theme-input-style" placeholder="Search Here">

                                    <button type="submit"><img src="{% static 'assets/img/svg/search-icon.svg' %}"
                                                               alt=""
                                                               class="svg"></button>
                                </div>
                            </form>
                            <!-- End Search Form -->
                        </div>

                        <div class="contact-header-right d-flex align-items-center justify-content-end mt-3 mt-sm-0">
                            <!-- Grid -->
                            <div class="grid">
                                <a href="contact-grid.html"><img src="{% static 'assets/img/svg/grid-icon.svg' %}"
                                                                 alt="" class="svg"></a>
                            </div>
                            <!-- End Grid -->

                            <!-- Starred -->
                            <div class="star">
                                <a href="#"><img src="{% static 'assets/img/svg/star.svg' %}" alt="" class="svg"></a>
                            </div>
                            <!-- End Starred -->

                            <!-- Delete Mail -->
                            <div class="delete_mail">
                                <a href="#"><img src="{% static 'assets/img/svg/delete.svg' %}" alt="" class="svg"></a>
                            </div>
                            <!-- End Delete Mail -->

                            <!-- Pagination -->
                            <div class="pagination style--two d-flex flex-column align-items-center ml-n2">
                                <ul class="list-inline d-inline-flex align-items-center">
                                    <li><a href="#">
                                        <img src="{% static 'assets/img/svg/left-angle.svg' %}" alt="" class="svg">
                                    </a></li>
                                    <li><a href="#" class="current">
                                        <img src="{% static 'assets/img/svg/right-angle.svg' %}" alt="" class="svg">
                                    </a></li>
                                </ul>
                            </div>
                            <!-- End Pagination -->
                        </div>
                    </div>
                    <!-- End Contact Header -->


                    <div class="table-responsive">
                        <!-- Invoice List Table -->
                        <table class="contact-list-table text-nowrap card_color-bg">
                            <thead>
                            <tr>
                                <th>
                                    <!-- Custom Checkbox -->
                                    <label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <!-- End Custom Checkbox -->

                                    <!-- Star -->
                                    <div class="star">
                                        <a href="#"><img src="{% static 'assets/img/svg/star.svg' %}" alt=""
                                                         class="svg"></a>
                                    </div>
                                    <!-- End Star -->
                                </th>
                                <th class="text-center">Name <img
                                        src="{% static 'assets/img/svg/table-down-arrow.svg' %}" alt="" class="svg">
                                </th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Age <img src="{% static 'assets/img/svg/table-down-arrow.svg' %}" alt=""
                                             class="svg"></th>
                                <th>Post</th>
                                <th>Joining Date <img src="{% static 'assets/img/svg/table-down-arrow.svg' %}" alt=""
                                                      class="svg"></th>
                                <th>Salary <img src="{% static 'assets/img/svg/table-down-arrow.svg' %}" alt=""
                                                class="svg"></th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                            <tr>
                                <td>
                                    <!-- Custom Checkbox -->
                                    <label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <!-- End Custom Checkbox -->

                                    <!-- Star -->
                                    <div class="star">
                                        <a href="#"><img src="{% static 'assets/img/svg/star.svg' %}" alt=""
                                                         class="svg"></a>
                                    </div>
                                    <!-- End Star -->
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="img mr-20">
                                            <img src="{{ product.image_one.url }}" class="img-40"
                                                 alt="{{ product.name }}">
                                        </div>
                                        <div class="name bold">
                                            {{ product.name }}
                                        </div>
                                    </div>
                                </td>
                                <td>{{ product.title }}</td>
                                <td>{{ product.brand }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>{{ product.weight }}</td>
                                <td>{{ product.category }}</td>
                                <td>{{ product.price }}</td>
                                <td class="actions">
                                            <span class="contact-edit" data-toggle="modal"
                                                  data-target="#contactEditModal">
                                                <a href="{% url 'edit_product' pk=product.pk %}"><img
                                                        src="{% static 'assets/img/svg/c-edit.svg' %}" alt=""
                                                        class="svg"></a>
                                            </span>
                                    <span class="contact-close">
                                                <a href="{% url 'delete_product' pk=product.pk %}"><img
                                                        src="{% static 'assets/img/svg/c-close.svg' %}" alt=""
                                                        class="svg"></a>
                                            </span>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <!-- End Invoice List Table -->
                    </div>
                </div>
                <!-- End Card -->

                <!-- Contact Add New PopUp -->
                <div id="contactAddModal" class="modal fade">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <!-- Modal Body -->
                            <div class="modal-body">
                                <form action="{% url 'add_product' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}


                                    <div class="media flex-column flex-sm-row">
                                        <div class="modal-upload-avatar mr-0 mr-sm-3 mr-md-5 mb-5 mb-sm-0">

                                            <div class="attach-file style--two mb-3">
                                                <img src="../../../assets/img/img-placeholder.png"
                                                     class="profile-avatar" alt="">
                                                <div class="upload-button">
                                                    <img src="../../../assets/img/svg/gallery.svg" alt=""
                                                         class="svg mr-2">
                                                    <span>Upload Photo</span>
                                                    <input class="file-input" type="file" id="fileUpload"
                                                           accept="image/*" name='image_one'>
                                                </div>
                                            </div>

                                            <div class="content">
                                                <h4 class="mb-2">Upload a Photo</h4>
                                                <p class="font-12 c4">Allowed JPG, GIF or PNG. Max size <br/> of 800kB
                                                </p>
                                            </div>
                                        </div>


                                        <div class="contact-account-setting media-body">

                                            <h4 class="mb-4">New Product</h4>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Name</label>
                                                <select class="theme-input-style" id="exampleSelect2" name='Name'>
                                                    <option selected>Choose...</option>
                                                    <option value="Air Conditioner">Air Conditioner</option>
                                                    <option value="Android">Android</option>
                                                    <option value="Audio">Audio</option>
                                                    <option value="Blender">Blender</option>
                                                    <option value="Bed/Mattress">Bed/Mattress</option>
                                                    <option value="Clothing">Clothing</option>
                                                    <option value="Cooker">Cooker</option>
                                                    <option value="Desktop">Desktop</option>
                                                    <option value="Dispenser">Dispenser</option>
                                                    <option value="Fabrics">Fabrics</option>
                                                    <option value="Fans">Fans</option>
                                                    <option value="Footwear">Footwear</option>
                                                    <option value="Fragrance">Fragrance</option>
                                                    <option value="Freezer">Freezer</option>
                                                    <option value="Fruit">Fruit</option>
                                                    <option value="Furniture">Furniture</option>
                                                    <option value="IOS">IOS</option>
                                                    <option value="Kettle">Kettle</option>
                                                    <option value="Laptop">Laptop</option>
                                                    <option value="Microwave">Microwave</option>
                                                    <option value="Networking">Networking</option>
                                                    <option value="Refrigerator">Refrigerator</option>
                                                    <option value="Server">Server</option>
                                                    <option value="Television">Television</option>
                                                    <option value="Washers">Washers</option>
                                                    <option value="Watch">Watch</option>
                                                </select>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Title</label>
                                                <input type="text"  class="theme-input-style"
                                                       placeholder="Type Here" name='title' required>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Brand</label>
                                                <input type="text" id="as_brand" class="theme-input-style"
                                                       placeholder="Type Here" name='brand' required>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Category</label>
                                                <select name="category" class="theme-input-style" >
                                                    <option selected>Choose...</option>
                                                    {% for category in categories %}
                                                    <option value="{{ category.pk }}">{{ category.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Color</label>
                                                <input type="text" id="as_color" class="theme-input-style"
                                                       placeholder="Type Here" name='color' required>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Price</label>
                                                <input type="number" id="price" class="theme-input-style"
                                                       placeholder="Type Here" name='price' required>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Quantity</label>
                                                <input type="number" id="as_quantity" class="theme-input-style"
                                                       placeholder="Type Here" name='quantity' required>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Weight</label>
                                                <input type="number" id="as_weight" class="theme-input-style"
                                                       placeholder="Type Here" name='weight' required>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Unit</label>
                                                <select class="theme-input-style" id="as_unit" name='unit'>
                                                    <option selected>Choose...</option>
                                                    <option>Gram</option>
                                                    <option>Kilogram</option>
                                                    <option>Tonnes</option>
                                                </select>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Secondary Image</label>
                                                <input class="theme-input-style" type="file"  name='image_two'>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Extra Image</label>
                                                <input class="theme-input-style" type="file"  name='image_three'>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Description</label>
                                                <textarea id="exampleTextarea1" class="theme-input-style" placeholder="Type Here" name="description"></textarea>
                                            </div>


                                            <div class="">
                                                <button type='submit' class="btn mr-4">Save Changes</button>
                                                <a href="#" class="cancel font-14 bold" data-dismiss="modal">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- End Modal Body -->
                        </div>
                    </div>
                </div>
                <!-- End Contact Add New PopUp -->

                <!-- Contact Edit PopUp -->
                <div id="contactEditModal" class="modal fade">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <!-- Modal Body -->
                            <div class="modal-body">
                                <form action="#" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}


                                    <div class="media flex-column flex-sm-row">
                                        <div class="modal-upload-avatar mr-0 mr-sm-3 mr-md-5 mb-5 mb-sm-0">

                                            <div class="attach-file style--two mb-3">
                                                <img src="../../../assets/img/img-placeholder.png"
                                                     class="profile-avatar" alt="">
                                                <div class="upload-button">
                                                    <img src="../../../assets/img/svg/gallery.svg" alt=""
                                                         class="svg mr-2">
                                                    <span>Upload Photo</span>
                                                    <input class="file-input" type="file" id="fileUpload3"
                                                           accept="image/*" name='image_one'>
                                                </div>
                                            </div>

                                            <div class="content">
                                                <h4 class="mb-2">Upload a Photo</h4>
                                                <p class="font-12 c4">Allowed JPG, GIF or PNG. Max size <br/> of 800kB
                                                </p>
                                            </div>
                                        </div>


                                        <div class="contact-account-setting media-body">

                                            <h4 class="mb-4">New Product</h4>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Name</label>
                                                <select class="theme-input-style" id="exampleSelect" name='Name'>
                                                    <option selected>Choose...</option>
                                                    <option value="Air Conditioner">Air Conditioner</option>
                                                    <option value="Android">Android</option>
                                                    <option value="Audio">Audio</option>
                                                    <option value="Blender">Blender</option>
                                                    <option value="Bed/Mattress">Bed/Mattress</option>
                                                    <option value="Clothing">Clothing</option>
                                                    <option value="Cooker">Cooker</option>
                                                    <option value="Desktop">Desktop</option>
                                                    <option value="Dispenser">Dispenser</option>
                                                    <option value="Fabrics">Fabrics</option>
                                                    <option value="Fans">Fans</option>
                                                    <option value="Footwear">Footwear</option>
                                                    <option value="Fragrance">Fragrance</option>
                                                    <option value="Freezer">Freezer</option>
                                                    <option value="Fruit">Fruit</option>
                                                    <option value="Furniture">Furniture</option>
                                                    <option value="IOS">IOS</option>
                                                    <option value="Kettle">Kettle</option>
                                                    <option value="Laptop">Laptop</option>
                                                    <option value="Microwave">Microwave</option>
                                                    <option value="Networking">Networking</option>
                                                    <option value="Refrigerator">Refrigerator</option>
                                                    <option value="Server">Server</option>
                                                    <option value="Television">Television</option>
                                                    <option value="Washers">Washers</option>
                                                    <option value="Watch">Watch</option>
                                                </select>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Title</label>
                                                <input type="text" id="as_title" class="theme-input-style"
                                                       placeholder="Type Here" name='title' required>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Brand</label>
                                                <input type="text" id="as_brand1" class="theme-input-style"
                                                       placeholder="Type Here" name='brand' required>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Category</label>
                                                <select name="category" class="form-control" >
                                                    <option selected>Choose...</option>
                                                    {% for category in categories %}
                                                    <option value="{{ category.pk }}">{{ category.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Color</label>
                                                <input type="text" id="as_color1" class="theme-input-style"
                                                       placeholder="Type Here" name='color' required>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Price</label>
                                                <input type="number" id="as_price" class="theme-input-style"
                                                       placeholder="Type Here" name='price' required>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Quantity</label>
                                                <input type="number" id="as_quantity2" class="theme-input-style"
                                                       placeholder="Type Here" name='quantity' required>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Weight</label>
                                                <input type="number" id="as_weight2" class="theme-input-style"
                                                       placeholder="Type Here" name='weight' required>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Unit</label>
                                                <select class="theme-input-style" id="exampleSelect1" name='unit'>
                                                    <option selected>Choose...</option>
                                                    <option>Gram</option>
                                                    <option>Kilogram</option>
                                                    <option>Tonnes</option>
                                                </select>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Secondary Image</label>
                                                <input class="file-input" type="file" id="fileUpload1" accept="image/*"
                                                       name='image_two'>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Extra Image</label>
                                                <input class="file-input" type="file" id="fileUpload2" accept="image/*"
                                                       name='image_three'>
                                            </div>

                                            <div class="mb-4">
                                                <label class="bold mb-2" >Description</label>
                                                <textarea name="description"></textarea>
                                            </div>


                                            <div class="">
                                                <button type='submit' class="btn mr-4">Save Changes</button>
                                                <a href="#" class="cancel font-14 bold" data-dismiss="modal">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- End Modal Body -->
                        </div>
                    </div>
                </div>
                <!-- End Contact Edit PopUp -->
            </div>
        </div>
    </div>
</div>
<!-- End Main Content -->
</div>
<!-- End Main Wrapper -->

{% endblock %}