{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load bootstrap_pagination %}
<!-- Wrapper -->
<div class="wrapper">
    <div class="main-wrapper">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Card -->
                        <div class="card bg-transparent">
                            <!-- Contact Header -->
                            <div class="contact-header d-flex align-items-sm-center media flex-column flex-sm-row card_color-bg mb-30">
                                <div class="contact-header-left media-body d-flex align-items-center mr-4">
                                    <!-- Add New Contact Btn -->
                                    <div class="add-new-contact mr-20">
                                        <a href="{% url 'add_product' %}" class="btn-circle" >
                                            <img src="{% static 'assets/img/svg/plus_white.svg' %}" alt="" class="svg">
                                        </a>
                                    </div>
                                    <!-- End Add New Contact Btn -->


                                </div>

                                <div class="contact-header-right d-flex align-items-center justify-content-end mt-3 mt-sm-0">
                                    <!-- Grid -->
                                    <div class="grid">
                                        <a href="{% url 'my_product_grid' %}"><img
                                                src="{% static 'assets/img/svg/grid-icon.svg' %}"
                                                alt="" class="svg"></a>
                                    </div>
                                    <!-- End Grid -->

                                    <!-- Delete Mail -->
                                    <div class="delete_mail">
                                        <a href="#"><img src="{% static 'assets/img/svg/delete.svg' %}" alt=""
                                                         class="svg"></a>
                                    </div>
                                    <!-- End Delete Mail -->


                                </div>
                            </div>
                            <!-- End Contact Header -->


                            <div class="table-responsive">
                                <!-- Invoice List Table -->
                                <table class="contact-list-table text-nowrap card_color-bg">
                                    <thead>
                                    <tr>
                                        <th>
                                            <!-- Custom Checkbox -->
                                            <label class="custom-checkbox">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <!-- End Custom Checkbox -->


                                        </th>
                                        <th class="text-center">Name</th>
                                        <th>Title</th>
                                        <th>Brand</th>
                                        <th>Quantity</th>
                                        <th>Weight</th>
                                        <th>Category</th>
                                        <th>Price</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <td>
                                            <!-- Custom Checkbox -->
                                            <label class="custom-checkbox">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <!-- End Custom Checkbox -->


                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="img mr-20">
                                                    <img src="{{ product.image_one.url }}" class="img-40"
                                                         alt="{{ product.name }}">
                                                </div>
                                                <div class="name bold">
                                                    {{ product.name }}
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ product.title }}</td>
                                        <td>{{ product.brand }}</td>
                                        <td>{{ product.stock_left }}</td>
                                        <td>{{ product.weight }}</td>
                                        <td>{{ product.category }}</td>
                                        <td>{{ product.price }}</td>
                                        <td class="actions">
                                            <span class="contact-edit" data-toggle="modal"
                                                  data-target="#contactEditModal">
                                                <a href="{% url 'edit_product' pk=product.pk %}"><img
                                                        src="{% static 'assets/img/svg/c-edit.svg' %}" alt=""
                                                        class="svg"></a>
                                            </span>
                                            <span class="contact-close">
                                                <a href="{% url 'delete_product' pk=product.pk %}"><img
                                                        src="{% static 'assets/img/svg/c-close.svg' %}" alt=""
                                                        class="svg"></a>
                                            </span>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                                <!-- End Invoice List Table -->
                            </div>
                        </div>
                        <!-- End Card -->


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End wrapper -->
</div>

{% endblock %}