{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load bootstrap_pagination %}
   <!-- Wrapper -->
   <div class="wrapper">
      <div class="main-wrapper">
         <div class="main-content">
            <div class="container-fluid">
                <!-- Card -->
                <div class="row">
                    <div class="col-12">
                        <!-- Card -->
                        <div class="card bg-transparent">
                            <div class="card-body card_color-bg">
                                <h4 class="pl-2 pt-2 pb-2">Payment History</h4>
                            </div>

                            <div class="table-responsive">
                                <table class="order-list-table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Order Number</th>
                                <th>Date</th>
                                <th>Amount Paid</th>
                                <th>Payment Status</th>
                                <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="card_color-bg">
									{% for payment in payments %}
                                        <tr>
                                            <td>{{ payment.order.pk }}</td>
                                <td>{{ payment.payment_date }}</td>
                                <td>{{ payment.amount }}</td>
                                <td>{{ payment.status}}</td>

                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#" data-toggle="tooltip" data-placement="top"
                                           title="Refresh"><i class="icon_plus_alt2"></i></a>

                                    </div>
                                </td>
                                        </tr>
									{% endfor %}

                                    </tbody>
                                </table>
                               <br>
                                <div class="text text-center">
                                    <!-- Pagination -->
                                    <div class="pagination d-flex flex-column align-items-center mb-10">
                                       {% bootstrap_paginate payments range=10 show_prev_next="false" show_first_last="true" %}
                                    </div>
                                    <!-- End Pagination -->
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                </div>
                <!-- End Card -->
            </div>
         </div>

      </div>
   </div>
   <!-- End wrapper -->


{% endblock %}