{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load bootstrap_pagination %}


<div class="main-content">
    <div class="container-fluid">
        <!-- Card -->
        <div class="row">
            <div class="col-12">
                <!-- Card -->
                <div class="card bg-transparent">
                    <div class="card-body card_color-bg">
                        <h4 class="pl-2 pt-2 pb-2">My Order</h4>
                    </div>

                    <div class="table-responsive">
                        <table class="order-list-table text-nowrap">
                            <thead>
                            <tr>

                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Amount Paid</th>
                                <th>Payment Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody class="card_color-bg">
                            <tr>
                                <td>{{ payment.order.pk }}</td>
                                <td>{{ payment.payment_date }}</td>
                                <td>{{ payment.amount }}</td>
                                <td>{{ payment.status}}</td>

                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#" data-toggle="tooltip" data-placement="top"
                                           title="Refresh"><i class="icon_plus_alt2"></i></a>

                                    </div>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                        <br>

                    </div>
                </div>
                <!-- End Card -->
            </div>
        </div>
        <!-- End Card -->
    </div>
</div>

{% endblock %}