{% extends 'index.html' %}
{% load static %}
{% block content %}
   <!-- Wrapper -->
   <div class="wrapper">
      <div class="main-wrapper">
         <div class="main-content">
            <div class="container-fluid">
                <!-- Card -->
                <div class="card">
                    <!-- Product Details -->
                    <div class="product-details pb-0">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="pd-img-wrapp position-relative mb-5 mb-lg-3">

                                    <img id="img_01" src="{{order.image.main_image.url }}"
                                         data-zoom-image="{{order.image.main_image.url }}" alt=""/>

                                    <div id="gal1">
                                        <a href="#" data-image="{{order.image.main_image.url }}"
                                           data-zoom-image="{{order.image.main_image.url }}">
                                            <img id="img_02" src="{{order.image.main_image.url }}" alt=""/>
                                        </a>

                                        <a href="#" data-image="{{order.image.front_image.url }}"
                                           data-zoom-image="{{order.image.front_image.url }}">
                                            <img id="img_03" src="{{order.image.front_image.url }}" alt=""/>
                                        </a>

                                        <a href="#" data-image="{{order.image.rear_image.url }}"
                                           data-zoom-image="{{order.image.rear_image.url }}">
                                            <img id="img_04" src="{{order.image.rear_image.url }}" alt=""/>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-8 mt-5">
                                <!-- Product Details Content -->
                                <div class="col-8">
                                    <div class="text text-center">
                                        {% if user.is_shopper %}
                                        {% if order.confirm_pickup %}
                                        <a href="#" class="btn btn-success">Confirmed for pickup</a>
                                        {% else %}
                                        <a href="{% url 'confirm_picture' pk=order.pk %}" class="btn btn-success">Confirm
                                            Pick-Up</a>
                                        <a href="{% url 'disapprove_picture' pk=order.pk %}" class="btn btn-danger">Decline
                                            Pick-Up</a>
                                        {% endif %}
                                        {% elif user.is_shipper %}
                                        <a href="{% url 'picked_up_order' %}" class="btn btn-danger">Back</a>
                                        {% else %}
                                        <a href="{% url 'my_orders' %}" class="btn btn-danger">Back</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
      </div>
   </div>
       </div>
   <!-- End wrapper -->

		 
{% endblock %}