{% extends 'index.html' %}
{% load static %}
{% block content %}
   <!-- Wrapper -->
   <div class="wrapper">
      <div class="main-wrapper">
         <div class="main-content">
            <div class="container-fluid">
                <!-- Card -->
                <div class="card">
                    <!-- Product Details -->
                    <div class="product-details pb-0 mb-5">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="pd-img-wrapp position-relative mb-5 mb-lg-0">

                                    <img id="img_01" src="{{order_item.product.image_one.url}}" alt=""/>


                                </div>
                            </div>

                            <div class="col-lg-8">
                                <!-- Product Details Content -->
                                <div class="product-details-content position-relative">
                                    <h4 class="product_title">{{order_item.product.title }}</h4>
                                    <p><span>First Name </span>: {{order_item.user.first_name}}</p>
                                    <p><span>Last Name </span>: {{order_item.user.last_name}}</p>
                                    <p><span>Email </span>: {{order_item.user.email}}</p>
                                    <p><span>Telephone </span>: {{order_item.user.telephone}}</p>
                                    <p><span>Address</span>: {{order_item.address}}</p>
                                    <p><span>City</span>: {{order_item.city}}</p>
                                    <p><span>State </span>: {{order_item.state}}</p>
                                    <br>
                                    {% if user.is_shipper %}
                                    {% if order_item.picked %}
                                    <a class='btn btn-success' href="#">Picked</a>
                                    {% else %}
                                    <a class='btn btn-success'
                                       href="{% url 'order_pickup' pk=order_item.pk %}">Accept</a>
                                    {% endif %}
                                    <a class='btn btn-danger' href="{% url 'available_pickup' %}">Back</a>
                                    {% else %}
                                    <a class='btn btn-danger' href="{% url 'shopper_order' %}">Back</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
   </div>
   <!-- End wrapper -->

		 
{% endblock %}