{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <h3 class="page-header"><i class="fa fa-table"></i> Order</h3>
        <!-- page start-->


        <div class="row">
            <div class="col-lg-12">

                    <p> <span>First Name </span>: {{order_item.first_name}}</p>
                        <p><span>Last Name </span>: {{order_item.last_name}}</p>
                        <p><span>Email </span>: {{order_item.email}}</p>
                        <p><span>Telephone </span>: {{order_item.telephone}}</p>
                        <p><span>Address</span>: {{order_item.address_name}}</p>
                        <p><span>City</span>: {{order_item.city}}</p>
                        <p><span>State </span>: {{order_item.state}}</p>
                        <p><span>Amount </span>: {{order_item.state}}</p>

            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->



{% endblock %}