{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <h3 class="page-header "><i class="fa fa-users"></i>Product Pictures</h3>
        <!-- page start-->


        <div class="row">
            <div class="col-lg-12">

                <div class="col-3">
                    <div class="img-wrap">
                        <img src='{{order.image.main_image.url}}' alt='{{ order.product.title }}' class="img-thumbnail"
                             height="220" width="220">
                    </div>
                </div>


                <div class="col-3">
                    <div class="img-wrap">
                        <img src='{{order.image.front_image.url}}' alt='{{ order.product.title }}' class="img-thumbnail"
                             height="220" width="220">
                    </div>
                </div>

            </div>
        </div>

        <div class="text text-center">
            {% if user.is_shipper %}
            <a href="{% url 'confirm_picture' pk=order.pk %}" class="btn btn-success">Confirm</a>
            <a href="{% url 'disapprove_picture' pk=order.pk %}" class="btn btn-danger">Decline</a>
            {% endif %}
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->

{% endblock %}

